<% provide(:title, 'Page Views')%>
<% provide(:is_admin, @is_admin) %>
<% provide(:width, 'wide')%>

<div id="page-views">
    <h1>Page Views</h1>
    <%= paginate @page_views %>
    <table>
        <thead>
            <tr>
                <th> View number </th>
                <th> Viewed at </th>
                <th> User Id </th>
                <th> Page </th>
                <th> Method </th>
                <th> Format </th>
            </tr>
        </thead>

        <tbody>
            <% @page_views.each do |view| %>
                <tr>
                    <td> <%= view.id %> </td>
                    <td> <%=time_ago_in_words(view.created_at) %> </td>
                    <td> <%= view.user_id %> </td>
                    <td> <%= view.page %> </td>
                    <td> <%= view.method %> </td>
                    <td> <%= view.format %> </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%= paginate @page_views %>
</div>