<% provide(:title, 'Private Messages')%>
<% provide(:is_admin, @is_admin) %>

<div id="message-view">

    <%= render 'shared/flashes' %>

    <h1>Private messages view</h1>

     <% @messages.each do |message| %>
        <span class="name"> <%= message.name %> </span>
        <span class="email"> <%=message.email %> </span>
        <%= button_to private_message_path(message), method: :patch, class: 'btn-xs' do %>
            <span class="glyphicon glyphicon-trash"></span>
        <% end %>
        <span class="time-ago"> <%=time_ago_in_words(message.created_at) %> ago </span>
        <p class="message">
            <%= message.message %>
        </p>
        <hr/>
     <% end %>
</div>