<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= yield(:title) %></title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>

    <!-- This script defers loading of application.js after page load -->
    <script type="text/javascript">

        // Add a script element as a child of the body
        function downloadJSAtOnload() {
            var element = document.createElement("script");
            element.src = "<%= asset_path('application.js') %>";
            document.body.appendChild(element);
        }

        // Check for browser support of event handling capability
        if (window.addEventListener)
            window.addEventListener("load", downloadJSAtOnload, false);
        else if (window.attachEvent)
            window.attachEvent("onload", downloadJSAtOnload);
        else window.onload = downloadJSAtOnload;

    </script>
</head>



<body class="grey-background">

<%= render 'layouts/navigation_header' %>

<main class="container <%= yield(:width) %>">

    <%= yield %>

    <%= render 'layouts/footer' %>

</main>

</body>
</html>
